<%- include('../layout/head.ejs') %>
<%- include('../layout/header.ejs') %>

<main>
  <h2 id="favorites">Your Pokemon Collection</h2>
  <a href="/">Return to Home</a>
    <ul>
      <% favoritePokemon.forEach(pokemon => { %>
        <li id="poke-card">
            <h2><%= pokemon.name %></h2>
            <div>
              <form action="/favorites/<%= pokemon.id %>?_method=DELETE" method="POST">
                <button>X</button>
              </form>
            </div>
        </li>
        <% }) %>
      </ul>
    </main>
    
<%- include('../layout/footer.ejs') %>
