<%- include('../layout/head.ejs') %>
<%- include('../layout/header.ejs') %>

  <main>
    <a href="/favorites">See Your Favorites</a>
      <ul>
        <% pokemonToShow.forEach(pokemon => { %>
          <li id="poke-card">
            <form action="/add" method="post">
              <h2><%= pokemon.name %></h2>
              <img class="front-sprite" src="<%= pokemon.image %>" alt="<%= pokemon.name %>" />
              <h3><%= pokemon.pokedexNumber %></h3>
                <input type=hidden name="name" value="<%= pokemon.name %>"></input>
                <button>Add To Favorites</button>
              </form>
            </li>
            <% }) %>
          </ul>
        </main>
        <%- include('../layout/footer.ejs') %>
