<%- include('../layout/head.ejs') %>

  <main class="wrapper">
    <section class="hero">
      <h1>Gotta Catch 'Em All!</h1>
    </section>

    <a href="/favorites">See Your Favorites</a>

    <section class="pokedex" id="pokedex">
      <ul>
        <% pokemonToShow.forEach(pokemon => { %>
          <li id="poke-card">
            <form action="/add" method="post">
              <div>
                <h3>#<%= pokemon.pokedex_number %></h3>
              </div>
              <div>
                <h2><%= pokemon.name %></h2>
              </div>
              <div>
              <img class="front-sprite" src="<%= pokemon.image %>" alt="<%= pokemon.name %>" />
              </div>
              <div class="type-list">
                <img class="type" src="<%= `../../../../public/assets/images/type-icons/${pokemon.type1}.png` %>" alt="<%= pokemon.type1 %>" />
                <% if (pokemon.type2){ %>
                <img class="type" src="<%= `../../../../public/assets/images/type-icons/${pokemon.type2}.png` %>" alt="<%= pokemon.type2 %>" />
                <% } %>
              </div>
                <input type=hidden name="pokedex_number" value="<%= pokemon.pokedex_number %>"></input>
                <input type=hidden name="url" value="<%= pokemon.url %>"></input>
                <input type=hidden name="name" value="<%= pokemon.name %>"></input>
                <input type=hidden name="image" value="<%= pokemon.image %>"></input>
                <input type=hidden name="type1" value="<%= pokemon.type1 %>"></input>
                <input type=hidden name="type2" value="<%= pokemon.type2 %>"></input>
              <div class="button-div">
                <button>Add To Favorites</button>
              </div>
            </form>
          </li>
        <% }) %>
      </ul>
    </section>
        </main>
        <%- include('../layout/footer.ejs') %>
